
main {
  
     min-height: 100vh;
     width: 100%;
     background:rgb(255, 248, 234);
    }

    main h2, h1
    {
        font-family: 'Dancing Script', cursive;
        text-align: center;
    }
    main h5
    {
        text-align: center;
    }

   
    main .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
      }
    
      main .card{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap:0.5em;
        justify-content: space-between;
       
      }
      main .card > div{
        height: 200px;
        background-size: cover;
        border:2px solid white;
        border-radius: 16px;
        font-size: 1.2em;
      }

      .card img {
        animation: pulsing 10s infinite;
      }
      @media screen and (max-width:768px){
       main .card {
          grid-template-columns: repeat(1, 1fr);
        }

        main .card > div{
          height: 500px;
          background-size: cover;
          border:2px solid white;
          border-radius: 16px;
          font-size: 1.2em;
        }
      }
      
      
      @-webkit-keyframes pulsing {
        0% {
          -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5)
        }
        50% {
          -webkit-transform: scale(1.0, 1.0);
          transform: scale(1.0, 1.0);
        }
        100% {
          -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
        }
      }
      
    
   