body {
    color: rosybrown;
  }

    main{
        background-image: url("/images/pic61.jpeg");
         min-height: 140vh;
         width: 100%;
        }

        main h1
        {
    
          font-family: 'Dancing Script', cursive;
        }

        hr
        {
          color: rosybrown;
        }

    main form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

       
      
      @media screen and (max-width:768px){
        main form{
          grid-template-columns: repeat(1, 1fr);
          background-position: center;
        }
      }
      

    
  