body {
  font-family:Arial, Helvetica, sans-serif;
}

header{

  background-image: url("images/pic69.jpeg");
  }

nav{
    min-height: 120px;
    color:rgb(207, 203, 203);
  }
  
  nav a{
    padding:0 24px;
    font-size: 1.2em;
    color:grey;
 
  }

 
  @media screen and (max-width:768px){
    header .container{
        position: relative;
      }

    nav{
        position: absolute;
        width:100%;
        background: white;
        right:0;
        top:100%;
        padding:12px;
        display: none;
        z-index: 99999;
      
   
      }
    
  
    nav a{
      display: block;
      padding:12px;
      text-decoration-line: none;
     
    }


nav a::before {
        content: "";
        display: block;
        height: 2px;
        width: 0px;
        background:rgb(226, 226, 229);
        transition: 800ms;
        margin:0;
      }
  
      nav a:hover::before {
      
        width: 100%;
        background: grey;
      }
   
      nav a::after {
        content: "";
        display: block;
        height: 2px;
        width: 0px;
        background:rgb(226, 226, 229);
        transition: 800ms;
        margin:0 auto;
      }
  
      nav a:hover::after {
      
        width: 100%;
        background: grey;
      }
}

footer{
    height: 150px;
    background: rgb(252, 247, 247);
   }
   
   .roww a {
      text-decoration: none;
      margin: 50px;
   }
   
   .fa { 
     transform: scale(2,2);
   }
   
   .fa-instagram {
   color: rgb(206, 38, 130);
   }
   
   .fa-youtube {
     color: rgb(247, 21, 59);
     }
   
   
   @media screen and (max-width:768px){
   
     .roww a {
    
     position: relative;
     margin: 0 auto;
     text-align: center;
     padding: 0 10px;
    }
     }